<h1>Sign In</h1>

<%= form_with url: sign_in_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email %><br/>
    <%= f.text_field :email, class: "form-control", placeholder: "example@email.com" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Sign In", class: "btn btn-primary" %>
  </div>

<% end %>