<div class="max-w-lg max-w-xs bg-gray-700 shadow-2xl rounded-lg mx-auto text-center py-12 mt-24 rounded-xl">
  <h1 class="text-blue-400 text-center font-extrabold -mt-3 text-3xl">Sign In</h1>
  <div class="container py-5 max-w-md mx-auto">

    <%= form_with url: sign_in_path, local: true do |f| %>

      <div class="mb-4">
        <%= f.text_field :email, placeholder: "example@email.com", class: "shadow appearance-none  rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <%= f.password_field :password, placeholder: "password", class: "shadow appearance-none  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex items-center justify-between">
        <%= f.submit "Sign In", class: "btn-blue" %>
        <%= link_to "Forgot your password?", password_reset_path, class: "inline-block align-baseline font-bold text-sm text-gray-300 hover:text-blue-400" %>
      </div>
    <% end %>

  </div>
</div>
