<h1>Reset Your Password</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]), local: true do |f| %>

  <%= render partial: "shared/form_errors", locals: {f: f} %>

  <div class="mb-3">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Reset Password", class: "btn btn-primary" %>
  </div>

<% end %>