<h1>Reset Your Password</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]), local: true do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |error| %>
        <div><%= error %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Reset Password", class: "btn btn-primary" %>
  </div>

<% end %>