
<div class="flex justify-between">
  <div class="my-2">
    <p class="text-4xl font-bold">Twitter Accounts</p>
  </div>
  <div class="my-2">
    <%= button_to "Add a Twitter account", "/auth/twitter", method: :post, class: "btn-blue" %>
  </div>
</div>
<br>
<br>

<% @twitter_accounts.each do |twitter_account| %>
  <div class="relative bg-gray-100 py-8 px-6 rounded-3xl shadow-xl">
    <div class="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-blue-400 left-4 -top-6">
      <%= image_tag twitter_account.image, class: "shadow rounded-full max-w-full" %>
    </div>

    <div class="mt-8">
        <p class="text-xl font-semibold my-3"><%= twitter_account.username %></p>
        <div class="flex justify-between">
          <div class="flex space-x-2 text-gray-400 text-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
            </svg>
            <%= link_to "Visit account", "https://twitter.com/#{twitter_account.username}", target: :_blank %>
          </div>

          <div>
            <%= button_to "Disconnect", twitter_account, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-red"  %>
          </div>
      </div>
    </div>
  </div>
  <br>
  <br>
<% end %>

