<h1>Add an automated tweet schedule</h1>

<%= form_with(model: @automated_tweet, local: true) do |f| %>

  <%= render partial: "shared/form_errors", locals: {f: f} %>

  <div class="mb-3">
    <%= f.label :twitter_account_id %>
    <%= f.collection_select :twitter_account_id, Current.user.twitter_accounts, :id, :username, {}, { class: "form-control"} %>
  </div>

  <div class="mb-3">
    <%= f.label :tweet_theme %>
    <%= f.select :body, options_for_select(tweet_content_categories), {}, {autofocus: 'true', class: 'form-control'} %>
  </div>

  <div class="mb-3">
    <%= f.label :tweet_amount %>
    <%= f.collection_select :total_tweets, tweet_runtime, :last, :first, {}, {autofocus: 'true', class: "form-control"} %>
  </div>

  <div class="mb-3">
    <%= f.submit class: "btn btn-primary", id: "clear-lS" %>
  </div>
<% end %>