<div class="my-2 pb-5">
  <h3 class="mt-3 text-4xl leading-8 font-medium tracking-tight text-gray-900">Automated Tweets</h3>
</div>
<%= form_with(model: @automated_tweet, local: true) do |f| %>

  <%= render partial: "shared/form_errors", locals: {f: f} %>

  <div class="mb-3">
    <%= f.label :twitter_account_id %>
    <%= f.collection_select :twitter_account_id, Current.user.twitter_accounts, :id, :username, {}, { class: "input"} %>
  </div>

  <div class="mb-3">
    <%= f.label :tweet_theme %>
    <%= f.select :body, options_for_select(tweet_content_categories), {}, {autofocus: 'true', class: 'input'} %>
  </div>

  <div class="mb-3">
    <%= f.label :tweet_amount %>
    <%= f.collection_select :total_tweets, tweet_runtime, :last, :first, {}, {autofocus: 'true', class: "input"} %>
  </div>

  <div class="mb-3">
    <%= f.submit "Schedule", class: "btn-blue" %>
  </div>
<% end %>