<h1>Edit Password</h1>

<%= form_with(model: Current.user, url: edit_password_path,  local: true) do |f| %>

  <%= render partial: "shared/form_errors", locals: {f: f} %>

  <div class="mb-3">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Update Password", class: "btn btn-primary" %>
  </div>

<% end %>