<!DOCTYPE html>
<html>

  <head>
    <title>Tweet-O-Matic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png')%>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="flex min-h-screen">
      <%= render partial: "shared/navbar" %>
      <div class="flex flex-col w-full w-12 min-w-max">
        <%= render partial: "shared/topbar" %>
        <div class="container mx-auto px-10 my-5 mx-16">
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>

</html>
